#dve-stolice {
    position: absolute;
    left: 90%;
    top: 110%;
}

#cetiri-stolice {
    position: absolute;
    left: 90%;
    top: 130%;
}

#sest-stolica {
    position: absolute;
    left: 90%;
    top: 150%;
}
